@import "tailwindcss";

:root {
  /* color-scheme: light dark; */

  --light-bgcolor: #E0E0DE;
  --light-text: #000000;
  --light-accent: #2563EB; 
  --light-img: url(images/optima-productivity-backdrop.jpg);
  --light-logo: url(images/optima-logo-light.png);

  --dark-bgcolor: #171717;
  --dark-text: #FFFFFF;
  --dark-accent: #60A5FA;
  --dark-img: url(images/optima-productivity-backdrop-black.jpg);
  --dark-logo: url(images/optima-logo-dark.png);

  --red: #d00018;
  --yellow: #FFB81C;
  --green: #477023;
}


body {
  cursor: default;
  caret-color: light-dark(var(--light-accent), var(--dark-accent));  
  color: light-dark(var(--light-text), var(--dark-text));
}


@layer components {

  .welcome {
 
    @apply [background-image:var(--light-img)] bg-center bg-no-repeat bg-cover w-full min-h-svh flex justify-center items-center
      dark:[background-image:var(--dark-img)];
  
    .welcome-body {
      @apply border border-2 border-[#FFFFFF25] w-[95%] bg-[#FFFFFF25] backdrop-blur-[10px] rounded-xl p-5 flex;

      .welcome-body-sect-one {
        @apply hidden
        md:flex md:flex-col md:items-start md:gap-10 md:p-5 md:w-[50%];

        .logo-box {
          @apply h-20 w-[240px] [background-image:var(--light-logo)] bg-center bg-no-repeat bg-cover
          dark:[background-image:var(--dark-logo)];
        }

        h1 {
          @apply text-3xl;
          
          span {
            @apply text-[var(--light-accent)] font-bold
            dark:text-[var(--dark-accent)];
          }
        }

        h2 {
          @apply text-[#3A3A3A] text-lg
          dark:text-[#969696];
        }

        .benefit {
          @apply flex gap-5 items-center;

          i {
            @apply p-3 text-[var(--light-accent)] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl
            dark:bg-[var(--dark-bgcolor)] dark:text-[var(--dark-accent)];
          }

          .benefit-info {
            
            .title {
              @apply font-bold;
            }
          
          }
        }

      }

      .welcome-body-sect-two {
        @apply border border-2 border-[#FFFFFF25] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl p-10 flex flex-col gap-5 justify-around w-full
        md:w-[50%] md:p-10
        lg:p-15
        dark:bg-[var(--dark-bgcolor)];

        .sign-up-one {
          @apply flex flex-col gap-2;

          h2 {
            @apply font-bold text-2xl 
            md:text-4xl;
          }

          h3 {
            @apply text-[#969696] text-sm
            md:text-base;
          }
        }

        .error-message {
          @apply text-sm text-[var(--red)]
        }

        .sign-up-two {
          @apply flex flex-col gap-5 text-sm
          md:text-base;

          .actual-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl focus:outline-none shadow-sm;
          }

          .password-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl flex justify-between shadow-sm;

            input {
              @apply w-full focus:outline-none; 
            }

            i {
              @apply cursor-pointer;
            }
          }

          .submit-input {
            @apply border border-2 border-[#FFFFFF25] bg-[var(--light-accent)] text-white shadow-xl p-2 rounded-lg flex justify-between cursor-pointer
            dark:bg-[var(--dark-accent)];
          }
        }

        .sign-up-three {
          @apply flex flex-col items-center gap-4 mt-2 text-sm
          md:text-base;

          span {
            @apply text-[var(--light-accent)] cursor-pointer
            dark:text-[var(--dark-accent)];
          }
          
          button {
            @apply border border-2 border-[#FFFFFF25] bg-[#FFFFFF25] cursor-pointer p-2 flex gap-2 rounded-xl shadow-xl;
          }
        }

      }
    }

  }




  .welcome-back {
 
    @apply [background-image:var(--light-img)] z-10 bg-center bg-no-repeat bg-cover w-full min-h-svh flex justify-center items-center
      dark:[background-image:var(--dark-img)];
  
    .welcome-body {
      @apply border border-2 border-[#FFFFFF25] w-[95%] bg-[#FFFFFF25] backdrop-blur-[10px] rounded-xl p-5 flex;

      .welcome-body-sect-one {
        @apply hidden
        md:flex md:flex-col md:items-start md:gap-10 md:p-5 md:w-[50%];

        .logo-box {
          @apply h-20 w-[240px] [background-image:var(--light-logo)] bg-center bg-no-repeat bg-cover
          dark:[background-image:var(--dark-logo)];
        }

        h1 {
          @apply text-3xl;
          
          span {
            @apply text-[var(--light-accent)] font-bold
            dark:text-[var(--dark-accent)];
          }
        }

        h2 {
          @apply text-[#3A3A3A] text-lg
          dark:text-[#969696];
        }

        .benefit {
          @apply flex gap-5 items-center;

          i {
            @apply p-3 text-[var(--light-accent)] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl
            dark:bg-[var(--dark-bgcolor)] dark:text-[var(--dark-accent)];
          }

          .benefit-info {
            
            .title {
              @apply font-bold;
            }
          
          }
        }

      }

      .welcome-body-sect-two {
        @apply border border-2 border-[#FFFFFF25] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl p-10 flex flex-col gap-5 justify-around w-full
        md:w-[50%] md:p-10
        lg:p-15
        dark:bg-[var(--dark-bgcolor)];

        .sign-up-one {
          @apply flex flex-col gap-2;

          h2 {
            @apply font-bold text-2xl 
            md:text-4xl;
          }

          h3 {
            @apply text-[#969696] text-sm
            md:text-base;
          }
        }

        .error-message {
          @apply text-sm text-[var(--red)]
        }

        .sign-up-two {
          @apply flex flex-col gap-5 text-sm
          md:text-base;

          .actual-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl focus:outline-none shadow-sm;
          }

          .password-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl flex justify-between shadow-sm;

            input {
              @apply w-full focus:outline-none; 
            }

            i {
              @apply cursor-pointer;
            }
          }

          .submit-input {
            @apply border border-2 border-[#FFFFFF25] bg-[var(--light-accent)] text-white shadow-xl p-2 rounded-lg flex justify-between cursor-pointer
            dark:bg-[var(--dark-accent)];
          }
        }

        .sign-up-three {
          @apply flex flex-col items-center gap-4 mt-2 text-sm
          md:text-base;

          span {
            @apply text-[var(--light-accent)] cursor-pointer
            dark:text-[var(--dark-accent)];
          }
          
          button {
            @apply border border-2 border-[#FFFFFF25] bg-[#FFFFFF25] cursor-pointer p-2 flex gap-2 rounded-xl shadow-xl;
          }
        }

      }
    }

  }

  .overall-main-body {
    @apply h-[100vh] w-[100vw] flex bg-[#E0E0DE] flex-col relative
    lg:flex-row; 

    nav {
      @apply px-4 py-4 w-full bottom-0 rounded-[10px_10px_0px_0px] bg-[#F9FAFB] absolute
      lg:static lg:h-full lg:w-[20vw] lg:rounded-[0px_10px_10px_0px] lg:px-5 lg:py-10;

      .sm-nav {
        @apply flex justify-between items-center 
        md:text-xl
        lg:hidden;

        .nav-sect-sm {
          @apply flex gap-6
          md:gap-12;

          .navigation {
            @apply gap-1 p-2 shadow-sm rounded-lg transition duration-300 ease-in-out;

            p {
              @apply hidden
            }
          }
        }

        .quirk-sect-sm {
          @apply p-3 shadow-sm rounded-lg relative text-white bg-[var(--light-accent)] font-bold
          md:p-5;

          .quirk-info-sm {
            @apply text-sm absolute top-[-60px] right-[-12px] rounded-lg bg-[#F9FAFB] shadow-md w-40 text-[var(--light-accent)] text-center hidden
            md:text-base md:top-[-70px];
          }
        }
      }

      .md-lg-nav {
        @apply hidden h-full flex-col justify-between 
        lg:flex;
          
        .logo-sect {
          @apply flex text-3xl gap-1 text-[var(--light-accent)];
        }

        .nav-sect {
          @apply flex flex-col gap-5 mt-10; 

          .navigation {
            @apply border border-2 border-transparent shadow-xs cursor-pointer flex gap-2 p-3 rounded-lg text-[#5F5F5F]
            duration-300 ease-in-out hover:bg-[#BFDBFE];
          }
        }

        .quirk-sect {
          @apply border p-2 rounded-lg shadow-lg flex flex-col gap-2 text-[#5F5F5F] mt-auto;

          .level-info {
            @apply flex justify-between; 
          }

          .level-calc {
            @apply text-2xl ;
          }

          .level-display {
            @apply h-8 rounded-lg flex justify-between shadow-xl;

            span {
              @apply w-[33%] bg-[#A5A5A5]
              first:rounded-l-lg first:bg-[var(--light-accent)] last:rounded-r-lg;
            }
          }
        }

      }
    }

    main {
      @apply p-5 
      lg:w-[80vw];

      .home {
        @apply flex flex-col gap-8
        md:p-3
        lg:p-5;

        .header {
          @apply flex justify-between rounded-lg items-center;

          .task-groups {
            @apply bg-[#F9FAFB] text-sm p-2 rounded-lg shadow-sm
            focus:outline-none
            md:text-base; 
          }

          p {
            @apply font-bold w-full text-center text-sm
            md:text-base;
          }

          i {
            @apply cursor-pointer text-lg text-[#5F5F5F] transition duration-300 ease-in-out
            hover:text-[var(--light-accent)]
            md:text-xl;
          }
        }

        .date-slider-cont {
          @apply flex items-center justify-center p-5 bg-[#F9FAFB] rounded-lg shadow-lg;

          .date-slider {
            @apply grid grid-cols-7 place-items-center w-full;

            .date {
              @apply w-11 p-1 text-sm flex flex-col gap-4 justify-center items-center rounded-lg cursor-pointer 
              duration-300 ease-in-out hover:bg-[#BFDBFE]
              first:bg-[#BFDBFE]
              md:p-2 md:w-20 md:text-base;

              .date-day {
                @apply text-xs font-bold text-[#A5A5A5]
                md:text-sm;
              }

              .first {
                @apply text-[var(--light-accent)];
              }

              .date-num-cont {
                @apply border border-3 border-[#A5A5A5] p-1 shadow-sm text-center rounded-full;              

                .date-num {
                  @apply p-2 rounded-full text-center font-bold
                  md:w-15 md:p-5;
                }

                .first {
                  @apply bg-[var(--light-accent)] text-white
                }
              }
 
            }
          }
        }

        .task-display {
          @apply p-3 rounded-lg shadow-lg bg-[#F9FAFB] flex flex-col gap-5
          md:p-5;

          p {
            @apply text-center text-sm
            md:text-base;
          }
        }
      }

      .stats {
        @apply flex flex-col gap-8
        md:p-3
        lg:p-5;

        .stats-header {
          @apply flex justify-between items-center;

          i {
            @apply text-lg text-[#5F5F5F] cursor-pointer transition duration-300 ease-in-out
            hover:text-[var(--light-accent)]
            lg:text-xl;
          }

          select {
            @apply p-2 text-sm bg-[#F9FAFB] rounded-lg shadow-lg 
            focus:outline-none
            lg:p-3 lg:text-base;
          }
        }

        .stats-tasks-cont {
          @apply grid grid-cols-7 place-items-center w-full bg-[#F9FAFB] p-5 rounded-lg shadow-lg;

          .stats-task {
            @apply p-2 border border-2 border-transparent rounded-lg shadow-sm cursor-pointer transition duration-300 ease-in-out flex gap-2
            first:border-[var(--light-accent)] hover:shadow-xl;

            .stats-task-title {
              @apply hidden;
            }
          }
        }
      }
    }
  }

  .alert-container {
    @apply bg-black/1 backdrop-blur-sm fixed top-0 z-50 w-full h-full flex justify-center;

    .alert-box {
      @apply border border-2 border-[var(--light-accent)] mb-auto p-5 flex flex-col gap-5 bg-[var(--light-bgcolor)] text-[var(--light-text)] rounded-b-xl text-sm
      translate-y-[-30rem] transition ease-in duration-800
      /* dark:border-[var(--dark-accent)] dark:bg-[var(--dark-bgcolor)] dark:text-[var(--dark-text)] */
      md:text-base;

      p {
        @apply text-center;
      }

      .choices {
        @apply flex gap-5 justify-center;

        button {
          @apply cursor-pointer p-2 w-30 rounded-lg font-bold bg-[var(--light-accent)] shadow-lg text-sm text-white
          /* dark:bg-[var(--dark-accent)] */
          md:text-base;
        }
      }

    }
  }

  .task-editor {
    @apply bg-black/1 backdrop-blur-sm fixed top-0 z-50 w-full h-full flex flex-col justify-center p-5;

    .editor-cont {
      @apply m-auto w-full border border-2 border-[var(--light-accent)] flex flex-col p-3 gap-5 rounded-lg bg-[#F9FAFB] shadow-lg
      md:p-5 md:w-[90%]
      lg:w-[50%];

      .exit-editor {
        @apply ml-auto text-lg cursor-pointer text-[#5F5F5F] transition duration-300 ease-in-out text-base
        hover:text-[var(--light-accent)]
        md:text-xl; 
      }

      .emoji-section {
        @apply rounded-lg flex items-center justify-center flex flex-col gap-3 relative; 

        .emoji-box {
          @apply p-5 bg-[#E0E0DE] shadow-lg rounded-lg cursor-pointer text-4xl;
        }

        .emoji-picker {
          @apply border border-2 mt-[60%] absolute p-3 rounded-lg flex flex-col gap-2 bg-[#F9FAFB] z-50 border-[var(--light-accent)]
          md:mt-[25%];

          .emoji-labels {
            @apply bg-[#E0E0DE] rounded-lg p-2 flex gap-6 text-lg;

            i {
              @apply cursor-pointer transition duration-300 ease-in-out
              hover:text-[var(--light-accent)];
            }
          }

          .emoji-holder {
            @apply p-2 rounded-lg bg-[#E0E0DE] grid grid-cols-6 place-items-center w-full;

            span {
              @apply cursor-pointer
            }
          }

        }

        input {
          @apply text-center text-lg w-full
          outline-none 
          md:text-xl;
        }

      }

      .color-section {
        @apply p-4 flex flex-col rounded-lg bg-[#E0E0DE] relative;    

        .color-controls {
          @apply flex justify-between;
        }

        p {
          @apply font-bold 
          md:text-lg;
        }

        .color-box {
          @apply cursor-pointer bg-[#5F5F5F] w-20 rounded-lg inset-shadow-sm;
        }

        .color-picker {
          @apply absolute right-3 top-10 p-3 rounded-lg flex flex-col gap-2 bg-[#F9FAFB] border border-2 border-[var(--light-accent)];

          .color-holder {
            @apply bg-[#E0E0DE] rounded-lg p-2 flex gap-6 text-lg grid grid-cols-6 place-items-center;
            
            span {
              @apply border border-2 border-transparent p-2 rounded-full cursor-pointer;
            }
          }
        }
      }

      .days-section {
        @apply rounded-lg p-4 bg-[#E0E0DE] flex flex-col gap-4;

        p {
          @apply font-bold 
          md:text-lg;
        }

        .days-of-week {
          @apply flex justify-between items-center w-full gap-[2.5px]
          md:gap-0;

          span {
            @apply bg-[#F9FAFB] text-sm border border-2 p-[2px] border-transparent rounded-lg transition shadow-lg cursor-pointer duration-300 ease-in-out
            hover:border-[var(--light-accent)]
            md:p-3 md:text-base; 
          }
        }
      }

      .start-end-section {
        @apply rounded-lg p-4 bg-[#E0E0DE] flex justify-around items-center;

        input {
          @apply p-2 rounded-lg bg-[#F9FAFB] shadow-lg
        }

        i {
          @apply text-[var(--light-accent)]
        }
      }

      .reminder-section {
        @apply rounded-lg p-4 bg-[#E0E0DE] flex justify-between;

        p {
          @apply font-bold 
          md:text-lg;
        }

        .reminder-toggle {
          @apply w-20 rounded-lg bg-[#5F5F5F] inset-shadow-sm flex items-center p-1 cursor-pointer; 

          .reminder-toggle-slider {
            @apply h-full w-5 rounded-full bg-[#E0E0DE] shadow-lg transition duration-500 ease-in-out;
          }
        }
      }

      .reminder-time-section {
        @apply rounded-lg p-4 bg-[#E0E0DE] flex justify-between;
      
        p {
          @apply font-bold 
          md:text-lg;
        }

        .reminder-time {
          @apply flex gap-2
        }
        select {
          @apply p-1 bg-[#F9FAFB] rounded-lg shadow-lg
          focus:outline-none;
        }
      }

      .add-task {
        @apply border border-2 p-2 rounded-lg bg-[var(--light-accent)] font-bold text-white cursor-pointer;
      }

      .delete-task {
        @apply border border-2 p-2 rounded-lg bg-[var(--red)] font-bold text-white cursor-pointer;
      }
    }
  }

  .task {
    @apply p-3 rounded-lg bg-[#E0E0DE] shadow-sm flex justify-between items-center transition duration-300 ease-in-out;

    .task-labels {
      @apply flex gap-3 items-center;

      .emoji-box {
        @apply p-2 rounded-lg text-lg bg-[#F9FAFB];
      }

      p {
        @apply font-bold;
      }
    }

    .task-updates {
      @apply flex gap-5 text-lg items-center
      md:text-xl;

      i {
        @apply text-[#5F5F5F] cursor-pointer transition duration-300 ease-in-out
        first:hover:text-[var(--light-accent)];
      }

      .bi-star-fill {
        @apply hover:text-[var(--yellow)];
      }

      input {
        @apply border border-2 border-black w-4 h-4 cursor-pointer accent-[var(--light-accent)]
        focus:outline-none;
      }
    }
  }
}