@import "tailwindcss";

:root {
  /* color-scheme: light dark; */

  --light-bgcolor: #E0E0DE;
  --light-text: #000000;
  --light-accent: #2563EB; 
  --light-img: url(images/optima-productivity-backdrop.jpg);
  --light-logo: url(images/optima-logo-light.png);

  --dark-bgcolor: #171717;
  --dark-text: #FFFFFF;
  --dark-accent: #60A5FA;
  --dark-img: url(images/optima-productivity-backdrop-black.jpg);
  --dark-logo: url(images/optima-logo-dark.png);

  --red: #9c0012;
  --green: #477023;

}


body {
  cursor: default;
  caret-color: light-dark(var(--light-accent), var(--dark-accent));  
  color: light-dark(var(--light-text), var(--dark-text));
}


@layer components {

  .welcome {
 
    @apply [background-image:var(--light-img)] bg-center bg-no-repeat bg-cover w-full min-h-svh flex justify-center items-center
      dark:[background-image:var(--dark-img)];
  
    .welcome-body {
      @apply border border-2 border-[#FFFFFF25] w-[95%] bg-[#FFFFFF25] backdrop-blur-[10px] rounded-xl p-5 flex;

      .welcome-body-sect-one {
        @apply hidden
        md:flex md:flex-col md:items-start md:gap-10 md:p-5 md:w-[50%];

        .logo-box {
          @apply h-20 w-[240px] [background-image:var(--light-logo)] bg-center bg-no-repeat bg-cover
          dark:[background-image:var(--dark-logo)];
        }

        h1 {
          @apply text-3xl;
          
          span {
            @apply text-[var(--light-accent)] font-bold
            dark:text-[var(--dark-accent)];
          }
        }

        h2 {
          @apply text-[#3A3A3A] text-lg
          dark:text-[#969696];
        }

        .benefit {
          @apply flex gap-5 items-center;

          i {
            @apply p-3 text-[var(--light-accent)] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl
            dark:bg-[var(--dark-bgcolor)] dark:text-[var(--dark-accent)];
          }

          .benefit-info {
            
            .title {
              @apply font-bold;
            }
          
          }
        }

      }

      .welcome-body-sect-two {
        @apply border border-2 border-[#FFFFFF25] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl p-10 flex flex-col gap-5 justify-around w-full
        md:w-[50%] md:p-10
        lg:p-15
        dark:bg-[var(--dark-bgcolor)];

        .sign-up-one {
          @apply flex flex-col gap-2;

          h2 {
            @apply font-bold text-2xl 
            md:text-4xl;
          }

          h3 {
            @apply text-[#969696] text-sm
            md:text-base;
          }
        }

        .sign-up-two {
          @apply flex flex-col gap-5 text-sm
          md:text-base;

          .actual-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl focus:outline-none shadow-sm;
          }

          .password-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl flex justify-between shadow-sm;

            input {
              @apply w-full focus:outline-none; 
            }

            i {
              @apply cursor-pointer;
            }
          }

          .submit-input {
            @apply border border-2 border-[#FFFFFF25] bg-[var(--light-accent)] text-white shadow-xl p-2 rounded-lg flex justify-between cursor-pointer
            dark:bg-[var(--dark-accent)];
          }
        }

        .sign-up-three {
          @apply flex flex-col items-center gap-4 mt-2 text-sm
          md:text-base;

          span {
            @apply text-[var(--light-accent)] cursor-pointer
            dark:text-[var(--dark-accent)];
          }
          
          button {
            @apply border border-2 border-[#FFFFFF25] bg-[#FFFFFF25] cursor-pointer p-2 flex gap-2 rounded-xl shadow-xl;
          }
        }

      }
    }

  }




  .welcome-back {
 
    @apply [background-image:var(--light-img)] bg-center bg-no-repeat bg-cover w-full min-h-svh flex justify-center items-center
      dark:[background-image:var(--dark-img)];
  
    .welcome-body {
      @apply border border-2 border-[#FFFFFF25] w-[95%] bg-[#FFFFFF25] backdrop-blur-[10px] rounded-xl p-5 flex;

      .welcome-body-sect-one {
        @apply hidden
        md:flex md:flex-col md:items-start md:gap-10 md:p-5 md:w-[50%];

        .logo-box {
          @apply h-20 w-[240px] [background-image:var(--light-logo)] bg-center bg-no-repeat bg-cover
          dark:[background-image:var(--dark-logo)];
        }

        h1 {
          @apply text-3xl;
          
          span {
            @apply text-[var(--light-accent)] font-bold
            dark:text-[var(--dark-accent)];
          }
        }

        h2 {
          @apply text-[#3A3A3A] text-lg
          dark:text-[#969696];
        }

        .benefit {
          @apply flex gap-5 items-center;

          i {
            @apply p-3 text-[var(--light-accent)] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl
            dark:bg-[var(--dark-bgcolor)] dark:text-[var(--dark-accent)];
          }

          .benefit-info {
            
            .title {
              @apply font-bold;
            }
          
          }
        }

      }

      .welcome-body-sect-two {
        @apply border border-2 border-[#FFFFFF25] bg-[var(--light-bgcolor)] rounded-xl shadow-2xl p-10 flex flex-col gap-5 justify-around w-full
        md:w-[50%] md:p-10
        lg:p-15
        dark:bg-[var(--dark-bgcolor)];

        .sign-up-one {
          @apply flex flex-col gap-2;

          h2 {
            @apply font-bold text-2xl 
            md:text-4xl;
          }

          h3 {
            @apply text-[#969696] text-sm
            md:text-base;
          }
        }

        .sign-up-two {
          @apply flex flex-col gap-5 text-sm
          md:text-base;

          .actual-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl focus:outline-none shadow-sm;
          }

          .password-input {
            @apply border border-2 border-[#FFFFFF25] p-2 rounded-xl flex justify-between shadow-sm;

            input {
              @apply w-full focus:outline-none; 
            }

            i {
              @apply cursor-pointer;
            }
          }

          .submit-input {
            @apply border border-2 border-[#FFFFFF25] bg-[var(--light-accent)] text-white shadow-xl p-2 rounded-lg flex justify-between cursor-pointer
            dark:bg-[var(--dark-accent)];
          }
        }

        .sign-up-three {
          @apply flex flex-col items-center gap-4 mt-2 text-sm
          md:text-base;

          span {
            @apply text-[var(--light-accent)] cursor-pointer
            dark:text-[var(--dark-accent)];
          }
          
          button {
            @apply border border-2 border-[#FFFFFF25] bg-[#FFFFFF25] cursor-pointer p-2 flex gap-2 rounded-xl shadow-xl;
          }
        }

      }
    }

  }

  .overall-main-body {
    @apply h-[100vh] w-[100vw] flex bg-[#E0E0DE];

    nav {
      @apply px-5 py-10 h-full w-[20vw] rounded-[0px_10px_10px_0px] bg-[#F9FAFB] flex flex-col;
      /* after:content-[""] after:block after:border after:border-[#B2B0AC] after:w-[50%] after:mt-5; */

      .logo-sect {
        @apply flex text-3xl gap-1 text-[var(--light-accent)];
      }

      .nav-sect {
        @apply flex flex-col gap-5 mt-10; 

        .navigation {
          @apply border border-2 border-transparent shadow-xs cursor-pointer flex gap-2 p-3 rounded-lg text-[#5F5F5F]
          first:bg-[#BFDBFE] first:text-[var(--light-accent)]
          duration-300 ease-in-out hover:bg-[#BFDBFE];
        }
      }

      .quirk-sect {
        @apply border p-2 rounded-lg shadow-lg flex flex-col gap-2 text-[#5F5F5F] mt-auto;

        .level-info {
          @apply flex justify-between; 
        }

        .level-calc {
          @apply text-2xl ;
        }

        .level-display {
          @apply h-8 rounded-lg flex justify-between shadow-xl;

          span {
            @apply w-[33%] bg-[#A5A5A5]
            first:rounded-l-lg first:bg-[var(--light-accent)] last:rounded-r-lg;
          }
        }
      }
    }

    main {
      @apply p-5 w-[80vw];

      .home {
        @apply p-5 flex flex-col gap-8;

        .header {
          @apply flex justify-between rounded-lg items-center;

          .task-groups {
            @apply bg-[#F9FAFB] p-2 rounded-lg shadow-sm; 
          }

          p {
            @apply font-bold w-full text-center
          }

          i {
            @apply text-[var(--light-accent)] cursor-pointer text-xl;
          }
        }

        .date-slider-cont {
          @apply flex items-center justify-center p-5 bg-[#F9FAFB] rounded-lg shadow-lg;

          .date-slider {
            @apply grid grid-cols-7 place-items-center w-full;

            .date {
              @apply p-2 w-25 flex flex-col gap-4 justify-center items-center rounded-lg cursor-pointer 
              duration-300 ease-in-out hover:bg-[#BFDBFE]
              first:bg-[#BFDBFE];

              .date-day {
                @apply text-sm font-bold text-[#A5A5A5];
              }

              .first {
                @apply text-[var(--light-accent)];
              }

              .date-num-cont {
                @apply border border-3 border-[#A5A5A5] p-1 shadow-sm text-center rounded-full;              

                .date-num {
                  @apply p-5 rounded-full text-center w-15 font-bold;
                }

                .first {
                  @apply bg-[var(--light-accent)] text-white
                }
              }
 
            }
          }
        }

        .task-display {
          @apply p-5 rounded-lg shadow-lg bg-[#F9FAFB];

          p {
            @apply text-center
          }
        }
      }
    }
  }
}